.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
}

.menuTitle {
    margin-bottom: 0;
}

.line {
    border-bottom: 3px solid #333;
    margin-top: 14px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 10px;
    color: #333;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.unlikeBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #888888;
}

.title {
    font-weight: 600;
    font-size: 14px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    margin: 0;
}

.content {
    font-size: 14px;
    margin: 0;
}

.hrLine {
    border-bottom: 1px solid #ddd;
    margin: 6px 0;
}

.rating {
    font-size: 15px;
    margin-left: -1px;
}

.starFill {
    color: #ffd620;
}

.star {
    color: #eeeeee;
}

.noData {
    font-size: 14px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}

@media (max-width: 1000px) {
    .leftMenu {
        display: none;
    }
    .container {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 10px;
    }
    .menuTitle {
        margin-top: 0;
    }
    .detail {
        padding-right: 4px;
        padding-left: 4px;
    }
}