.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.menuTitle {
    margin-bottom: 0;
}

.line {
    border-bottom: 3px solid #333;
    margin-top: 14px;
}

.topBox {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
}

.selectAll {
    display: flex;
    align-items: center; 
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    column-gap: 20px; 
}

.item {
    display: flex;
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px); 
    margin: 10px 0;
    margin-bottom: 40px;
    gap: 10px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 90px;
    height: 140px;
}

.title {
    font-size: 13px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    color: #333;
    font-weight: 500;
}

.author {
    font-size: 12px;
    color: #8f8f8f;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
}

.deleteBtn {
    background: none; 
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
}

.hrLine {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.noData {
    font-size: 14px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}