.categoryLink {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #333; 
    cursor: pointer;
}

.scrollWrapper {
    position: relative;
    width: 800px;
    height: 260px;
}

/* 스크롤 영역 */
.scrollContainer {
    display: flex; 
    overflow-x: auto; /* 수평 스크롤 활성화 */
    -ms-overflow-style: none; /* IE 및 Edge 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
    gap: 16px; 
}

/* 스크롤바 숨기기 (Chrome, Safari, Opera) */
.scrollContainer::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.title {
    margin: 0;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
}
  
.author {
    margin: 0;
    color: #666;
    font-size: 13px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
} 

.cover {
    width: 120px;
    height: 180px; 
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    left: -25px;
    top: 36%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    cursor: pointer;
    background-color: #ffffff94;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 50%; 
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 35px; 
    height: 35px; 
    color: #4e4e4e21; 
}

.rightArrow {
    position: absolute;
    right: -25px;
    top: 36%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    cursor: pointer;
    background-color: #ffffff94;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 50%; 
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 35px; 
    height: 35px; 
    color: #4e4e4e21; 
}
    
.leftArrow:hover:not(:disabled), .rightArrow:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.leftArrow:disabled, .rightArrow:disabled {
    cursor: default;
}

.disabledBtn {
    color: rgba(221, 221, 221, 0.534);
}

.activeBtn {
    color: #333333d7;
}