.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.section1 {
    display: flex;
    padding: 0 30px;
    margin: 50px 0 100px;
    gap: 60px;
}

.cover {
    width: 270px;
    height: 396px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.116);
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    display: block;
    line-height: 1.1;
    font-weight: bold;
    font-size: 26px;
}

.subInfo {
    display: flex;
    align-items: center;
    margin: 12px 0 0px;
    flex-wrap: nowrap;
}

.subInfo > *, .rating > * {
    margin: 0;
}

.author {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;                 
    max-width: calc(100% - 70px);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}

.publisher  {
    white-space: nowrap;
}

.date {
    margin: 6px 0;
}

.separator {
    margin: 0 8px;
    color: #ddd;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.rating > span {
    font-weight: bold;
}

.ratingAverage {
    color: #f15555;
}

.reviewCount {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 1;
}

.wishlistBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f7;
    margin: 20px 0;
    padding: 16px 20px;
    border-radius: 14px;
}
 
.wishlistContent {
    font-size: 14px;
    margin-right: 20px; 
}

.wishlistContent p {
    margin: 0;
}

.btnBox {
    display: flex;
    gap: 10px;
}

.wishlistBtn {
    font-size: 13px;
    background-color: white;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
}

.reviewBtn {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    margin-top: 6px;
}

.section2 {
    margin: 50px 0;
    border-bottom: 1px solid #bbbbbb;
}

.section3, .section4 {
    margin: 0 30px;
}

/* nav */
.middleNav {
    display: flex;
    gap: 60px;
}

.middleNav a {
    padding: 14px 0;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.middleNav a:first-child {
    margin-left: 60px;
}

.middleNav a:hover {
    cursor: pointer;
}

.middleNav a.active {
    border-bottom: 3px solid #333;
}

.hrLine {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 30px 0;
}

.section3 > div > p {
    font-weight: bold;
}

.bookList {
    display: flex;
    gap: 15px;
    background-color: #f6f6f7;
    border-radius: 20px;
    padding: 20px;
}

.bookItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
}

.cover2 {
    width: 120px;
    height: 180px;
    transition: transform 0.3s ease;
}

.cover2:hover {
    transform: scale(1.05);
}

.title2 {
    font-weight: bold;
    font-size: 15px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    line-height: 1.4; 
    max-width: 100%; 
}


/* 리뷰 */
.reviewHeader {
    border-bottom: 2px solid #a1a1a1;
}

.reviewTitle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 3px;
}

.align {
    float: right;
    font-size: 13px;
    color: #a0a0a0;
    margin-top: 10px;
    margin-right: 4px;
}

.reviewBox {
    display: flex;
    flex-direction: column;
}

.reviewList {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    min-height: 84px;
}

.reviewMeta {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.reviewMeta > span {
    font-size: 12px;
    margin: 0 40px 0 4px;
}

.nickname {
    font-weight: bold;
}

.review {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 430px;
}

.reviewActions {
    display: flex;
    align-self: flex-end;
    font-size: 13px;
    margin: 0 4px 0 40px;
    gap: 16px;
}

.like, .reply {
    cursor: pointer;
}

.textAreaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    gap: 10px;
    margin-top: 10px;
}

.textarea {
    height: 80px;
    width: 100%;
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 1.5;
}

.textarea:focus {
    outline: none;
}

.textAreaBtn {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.textAreaBtn button {
    border: none;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    color: white;
}

.textAreaBtn button:first-child {
    background-color: rgb(238, 238, 238);
    color: #444;
}

.textAreaBtn button:hover {
    background-color: #17171b;
}

.textAreaBtn button:hover:first-child {
    background-color: rgb(233, 233, 233);
}

.replyTextArea {
    margin-left: 94px;
}

.commentSection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentBox {
    display: flex;
    flex-direction: column;
}

.commentContent {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.commentInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nickname {
    font-weight: 600;
    font-size: 14px;
}

.commentDate, .commentEditBtn, .commentDeleteBtn {
    font-size: 13px;
    color: rgb(139, 139, 139);
}

.comment {
    font-size: 14px;
}

.reply {
    display: flex;
    flex-direction: column;
}

.replyBox {
    display: flex;
}

.arrowBox {
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.arrow {
    color: #bebebe;
    font-weight: 100;
}

.replyContent {
    margin-top: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 100%;
}

.commentLine {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.commentBtn {
    align-self: flex-end;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 0;
}

.starFill {
    color: #ffe16f;
}

.star {
    color: #eeeeee;
}

@media (max-width: 860px) {
    .inner {
        padding: 0;
    }
    .section3, .section4 {
        margin: 0;
    }
    .section1 {
        flex-direction: column;
        padding: 0;
    }
    .cover {
        margin: 0 auto;
        width: 180px;
        height: 270px;
    }
    .bookList {
        overflow: hidden;
    }
}

@media (max-width: 530px) {
    .wishlistBox {
        flex-direction: column;
    }
    .btnBox {
        margin-top: 8px;
    }
}