.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin-top: 2rem;
    font-size: 12px;
    gap: 0.5rem;
    padding-left: 0;
}

.paginationLink {
    transition: all 0.25s;
    padding: 0.35rem 0.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.paginationLinkActive {
    background-color: #e4e4e4;
}

.paginationLink svg {
    vertical-align: middle;
}

.disabled {
    pointer-events: none;
    color: #ccc;
}