.wrapper {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    font-size: 14px;
    margin: 2px 0;
    color: #888;
}

.summary {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* 웹킷 브라우저용 */
    line-clamp: 6; /* 표준 속성 */
    -webkit-box-orient: vertical; /* 텍스트를 6줄로 제한하고 넘치는 부분 숨김 */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0;
}

.cover {
    min-width: 190px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}