.wrapper {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 22px;
    margin: 0;
    color: #333;
}

.author {
    font-size: 15px;
    margin: 5px 0;
}

.summary {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* 웹킷 브라우저용 */
    line-clamp: 6; /* 표준 속성 */
    -webkit-box-orient: vertical; /* 텍스트를 6줄로 제한하고 넘치는 부분 숨김 */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0;
}

.cover {
    min-width: 190px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    padding: 4px 10px;
    color: rgb(54, 54, 54);
    border: 1px solid #888;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: 80px;
    text-align: center;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(233, 233, 233, 0.671);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}