.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.contents {
    display: flex;
    gap: 40px;
}

.cover {
    width: 120px;
    height: 180px;
    flex-shrink: 0;
    display: flex;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 6px;
    word-break: break-word; 
    color: #333;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
}

.author {
    margin: 6px 0;
    font-size: 13px;
    word-break: break-word; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
}

.info {
    display: flex;
    margin: 6px 0;
    font-size: 13px;
}

.separator {
    margin: 0 8px;
    color: #d3d3d3;
}

.hr {
    margin: 0;
}

@media (max-width: 480px) {
    .separator {
        display: none;
    }
    .info {
        flex-direction: column;
    }
}