.box {
    display: flex;
    flex-direction: column;
    /* width: 230px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.list {
    display: table;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    counter-reset: ranking;
}

.list li {
    display: table-row;
    counter-increment: ranking;
    font-size: 14px;
    border-bottom: 1px solid #000000;
    
}

.rank {
    width: 30px;
    font-weight: bold;
    color: #555;
}

.list li:nth-child(-n+3) .rank {
    color: #f76464;
}

.rank, .name, .count {
    display: table-cell;
    border-bottom: 1px solid #bbbbbb;
}

.list li:last-child .rank,
.list li:last-child .name,
.list li:last-child .count {
    border-bottom: none; 
}

.name, .count {
    display: table-cell;
}

.name {
    padding: 4px 10px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.count {
    text-align: right; 
    padding: 4px 0;
}

.empty {
    color: #c7c7c7;
}