.container {
    display: flex;
    flex-direction: column;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

/* 메인 페이지 : 섹션 */
.bestBookListSection, .rating-book-list-section, .latestBookListSection, .rankingRecommendationsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.bestBookListSection, .latestBookListSection {
    max-width: 800px;
    width: 100%;
    justify-content: flex-start;
}

.bestBookListSection {
    margin-top: 80px;
}
  
.rankingRecommendationsSection {
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 60px;
    margin-bottom: 60px;
}
  
.rankingRecommendationsSection > div:first-child {
    flex: 0 0 230px;
}

.rankingRecommendationsSection > div:last-child {
    flex: 1 1 0;
    min-width: 0;
}

/* 메인 페이지 : 타이틀 */
.logo {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    text-align: center;
    font-size: clamp(4rem, 10vw + 1rem, 8rem); 
    line-height: 1.0;
    letter-spacing: 0.1em; /* 글자 간격 */
    font-weight: 900;
}

.logoTop {
    margin-left: clamp(-30%, -15vw, -40px);
}

.logoBottom {
    margin-left: clamp(40px, 15vw, 30%);
}

/* 메인 페이지 : 검색 창 */
.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 350px;
    position: relative;
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 20px;
    color: #9ca3af;
    z-index: 2;
    background-color: white;
    padding-right: 12px;
}

.input {
    flex-grow: 1;
    padding: 12px 16px;
    border: 2px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
    text-indent: 30px;
    border-radius: 10px;
    caret-color: #a8a8a8;
}

.input::placeholder {
    color: #a7a7a7;
    padding-left: 3px;
}

/* 메인 페이지 : 서브 타이틀 */
.subTitle {
    text-align: center;
    margin: 20px 0;
    color: #4b4b4b;
}

@media (max-width: 768px) {
    .rankingRecommendationsSection {
        flex-direction: column;
        margin-top: 60px;
    }
    .rankingRecommendationsSection > div {
        margin: 0 auto;
    }
    .rankingRecommendationsSection > div:first-child {
        order: 2;
        max-width: 768px;
    }
    .rankingRecommendationsSection > div:last-child {
        order: 1;
    }
    .input {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .rankingRecommendationsSection > div:first-child {
        max-width: 480px;
    }
    .searchSection {
        margin-bottom: 0;
    }
    .bestBookListSection {
        margin-top: 60px;
    }
    .rating-book-list-section, .latestBookListSection, .rankingRecommendationsSection {
        margin-top: 30px;
    }
    .rankingRecommendationsSection {
        gap: 40px;
    }
}