.wrapper {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    font-size: 14px;
    margin: 2px 0;
    color: #888;
}

.summary {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    line-clamp: 6; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .title {
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}

@media (max-width: 480px) {
    .box {
        flex-direction: column;
        gap: 20px;
    }
    .cover {
        margin: 0 auto;
        width: 150px;
        height: 220px;
    }
    .title {
        font-size: 17px;
    }
    .author {
        font-size: 13px;
    }
    .summary {
        font-size: 14px;
    }
    .sectionTitle {
        font-size: 22px;
    }
}