html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  box-sizing: border-box;
}

html, body, textarea, input, button {
  font-family: var(--font-pretendard), sans-serif; 
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 20px; /* 상단 패딩 조정 */
  overflow-x: hidden;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}