html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 20px; /* 상단 패딩 조정 */
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
}

/* 메인 페이지 : 헤더 */
.header-nav {
  display: flex;  /* 자식 요소들을 가로로 배열 */
  gap: 25px;  /* 자식 요소들 사이의 간격 */
  /* 패딩 설정: clamp()를 사용해 반응형으로 조정 
     최소 10px, 선호 1.2rem, 최대 14px (상하)
     최소 23px, 선호 2.5rem, 최대 27px (좌우) */
  padding: clamp(10px, 1.2rem, 14px) clamp(23px, 2.5rem, 27px);
  border-radius: 99999px;
  margin: 0 auto;  /* 상하 마진 0, 좌우 자동으로 중앙 정렬 */
  align-items: center;  /* 자식 요소들을 수직 중앙 정렬 */
  width: fit-content;  /* 내용물에 맞게 너비 조정 */
  font-weight: bold;
  z-index: 1000;  /* 다른 요소들 위에 표시되도록 z-index 설정 */
  position: fixed;
  top: 20px; /* 상단에서의 거리 */
  left: 50%; /* 왼쪽에서 50% 위치에 배치 */
  transform: translateX(-50%); /* 자신의 너비의 절반만큼 왼쪽으로 이동 */
}

.header-nav.scrolled {
  background-color: rgba(255, 255, 255, 0.925);
}

.header-nav a {
  color: #5353539f;
}

/* 메인 페이지 : 타이틀 */
.logo {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
  text-align: center;
  font-size: clamp(4.5rem, 10vw + 1rem, 10rem); /* 반응형 크기 */
  line-height: 1.0;
  letter-spacing: 0.1em; /* 글자 간격 */
  font-weight: 900;
}

.logo-top {
  transform: translateX(-10vw);
}

.logo-bottom {
  transform: translateX(10vw);
}

@media (max-width: 500px) {
  .logo-top, .logo-bottom {
    transform: translateX(0);
  }
}

/* 메인 페이지 : 검색 창 */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto 2rem;
  max-width: 350px;
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 20px;
  color: #9ca3af;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem 1.2rem;
  border: 2px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease;
  text-indent: 30px;
  border-radius: 10px;
  caret-color: #a8a8a8;
}

.search-input::placeholder {
  color: #a7a7a7;
  padding-left: 3px;
}

/* 메인 페이지 : 서브 타이틀 */
.sub-title {
  text-align: center;
  margin: 20px 0;
  color: #4b4b4b;
}

/* 메인 페이지 : 책 리스트 섹션 */
.popular-book-list-section, .rating-book-list-section, .latest-book-list-section, 
.side-by-side-sections {
  margin: 80px auto 0;
  max-width: 1000px;
}

/* 메인 페이지 : 인기 있는 책, 별점 높은 책 */
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.book-list-item {
  flex: 0 0 calc(20% - 24px); /* 5개 항목을 위한 설정 */
  min-width: 150px; /* 최소 너비 */
  max-width: 170px;
}

.book-title {
  margin: 0;
  font-size: 18px;
}

.book-author {
  margin: 0;
  color: #666;
  font-size: 14px;
} 

/* 메인 페이지 : 유저 랭킹, 추천 책 */
.side-by-side-sections {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1000px;
}

.user-ranking-section, .book-recommendations-section {
  flex: 1;
}

.user-ranking-box, .recommendations-box {
  background-color: rgba(250, 250, 250, 0.856);
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  min-width: 400px;
  min-height: 330px;
  margin: 10px 10px;
}

.user-ranking-container {
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

.user-ranking-title {
  margin: 0;
}

.user-ranking-list {
  list-style-type: none;
  padding: 0;
  counter-reset: ranking;
  margin: 0;
}

.user-ranking-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  counter-increment: ranking;
}

.user-ranking-list li::before {
  content: counter(ranking) ". ";
  margin-right: 10px;
  flex: 0 0 auto; /* 크기 고정 */
}

.user-name {
  font-weight: bold;
  flex-grow: 1; /* 남는 공간을 차지하도록 함 */
}

.book-count {
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 30px; /* 이름과의 간격 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
}

.recommendations-book-container {
  display: flex;
  gap: 20px;
}

.recommendations-book-info {
}

.recommendations-book-title {
  font-size: 22px;
  margin: 0;
}

.recommendations-book-author {
  font-size: 14px;
margin: 0;
}

.recommendations-book-summary {
  font-size: 16px;
}