html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 20px; /* 상단 패딩 조정 */
  overflow-x: hidden;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* 메인 페이지 : 책 리스트 슬라이더 */
.slider-wrapper {
  position: relative;
  max-width: 1000px;
  box-sizing: border-box;
}

.slider-wrapper .slick-slide {
  padding: 0 10px;
}

.slider-wrapper .slick-list {
  margin: 0 -10px;
}

/* 메인 페이지 : 슬라이더 버튼 */
.next-button, .prev-button {
  position: absolute; /* 절대 위치 */
  cursor: pointer;
  z-index: 9999;
  background-color: #ffffff94; /* 배경색 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 50%; /* 동그란 모양 */
  padding: 8px; /* 아이콘 주변 여백 */
  display: inline-flex; /* 내부 컨텐츠 정렬을 위해 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 20px; /* 전체 너비 */
  height: 40px; /* 전체 높이 */
  font-size: 20px; /* 아이콘 크기 */
  color: #4e4e4e80; /* 아이콘 색상 */
}

.next-button:hover, .prev-button:hover {
  background-color: rgba(255, 255, 255, 0.9); /* 더 불투명한 흰색 배경 */
  color: #2e2e2e; /* 더 진한 색상 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* 그림자 강화 */
  color: #4e4e4ee8;
}

.next-button {
  right: -20px; /* 오른쪽으로 이동 */
  top: 50%; /* 상단에서 50% 위치 */
}

.prev-button {
  left: -20px; /* 왼쪽으로 이동 */
  top: 50%; /* 상단에서 50% 위치 */
}

.prev-button.hidden, .next-button.hidden {
  opacity: 0;
  pointer-events: none; /* 클릭 이벤트 비활성화 */
}

.best-slider .next-button {
  right: -20px; /* 오른쪽으로 이동 */
  top: 31%; /* 1번 슬라이더 버튼 위치 */
  transform: translateY(-50%); /* 중앙 정렬 */
}

.best-slider .prev-button {
  left: -20px; /* 왼쪽으로 이동 */
  top: 31%; /* 1번 슬라이더 버튼 위치 */
  transform: translateY(-50%); /* 중앙 정렬 */
}

.rating-slider .next-button,
.latest-slider .next-button {
  right: -20px; /* 오른쪽으로 이동 */
  top: 32%; /* 2, 3번 슬라이더 버튼 위치 */
  transform: translateY(-50%); /* 중앙 정렬 */
}

.rating-slider .prev-button,
.latest-slider .prev-button {
  left: -20px; /* 왼쪽으로 이동 */
  top: 32%; /* 2, 3번 슬라이더 버튼 위치 */
  transform: translateY(-50%); /* 중앙 정렬 */
}

@media (max-width: 1023px) {
  .slider-wrapper {
      max-width: 900px;
  }
}