.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 760px;
}

.statSection {
    display: flex;
    gap: 60px;
}

.statGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}

.statBox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    width: 240px;
}

.stat {
    font-weight: bold;
}

.statTitle {
    font-weight: bold;
    font-size: 24px;
}

.barChart {
    width: 440px;
}

.redText {
    color: #f75e5e;
}

.reviewSection {
    display: flex;
    flex-direction: column;
}

.reviewsList {
    display: flex;
    gap: 30px;
}

.menuTitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.reviewItem, .noData {
    box-shadow: 0 0 6px rgba(139, 139, 139, 0.2); 
    border-radius: 20px;
    padding: 20px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.bookTitle {
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.reviewDate {
    font-size: 12px;
    color: rgb(167, 167, 167);
    margin-top: auto;
    align-self: flex-end;
}

.reviewContent {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 6;
    line-clamp: 6;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.summarySection {
    display: flex;
    gap: 30px;
}

.summary {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    box-shadow: 0 0 6px rgba(139, 139, 139, 0.2); 
    border-radius: 20px;
    padding: 20px 22px;
    height: 210px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cover {
    height: 160px;
    width: 110px;
    margin-left: 6px;
    cursor: pointer;
}

.count {
    background-color: rgba(235, 235, 235, 0.466);
    border-radius: 50%; 
    font-weight: bold;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap; 
}

.count:hover {
    background-color: rgba(224, 224, 224, 0.466);
}

.commentList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentItem {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    gap: 2px;
}

.commentInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentTime {
    font-size: 11px;
    color: #a5a5a5;
}

.commenter {
    font-size: 12px;
    font-weight: bold;
}

.commentContent {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.hrLine {
    width: 193px;
    border-bottom: 1px solid #e2e2e2;
    margin: 12px 0;
}

.noData, .noCommentData, .noBookData {
    font-size: 14px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noBookData {
    width: 100%;
}
