.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 760px;
}

.statSection {
    display: flex;
    gap: 20px;
}

.statItem {
    padding-top: 20px;
}

.graphStat {
    font-weight: bold;
    font-size: 24px;
}

.redText {
    color: rgb(248, 74, 74); 
}

.doughnutChart {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar {
    width: 110px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar > span {
    font-weight: 500;
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 10px;
}

.reviewSection {
    display: flex;
    flex-direction: column;
}

.reviewsList {
    display: flex;
    gap: 30px;
}

.menuTitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 14px;
}

.reviewItem {
    box-shadow: 0 0 6px rgba(139, 139, 139, 0.2); 
    border-radius: 20px;
    padding: 20px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.bookTitle {
    font-size: 15px;
    font-weight: bold;
}

.reviewDate {
    font-size: 12px;
    color: rgb(167, 167, 167);
    margin-top: auto;
    align-self: flex-end;
}

.reviewContent {
    font-size: 15px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 6;
    line-clamp: 6;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.summarySection {
    display: flex;
    gap: 30px;
}

.summary {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    box-shadow: 0 0 6px rgba(139, 139, 139, 0.2); 
    border-radius: 20px;
    padding: 20px;
    height: 210px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cover {
    background-color: rgb(148, 147, 214);
    height: 160px;
    width: 120px;
    margin-left: 6px;
}

.count {
    background-color: rgba(216, 216, 235, 0.466);
    padding: 10px;
    border-radius: 50%; 
    font-weight: bold;
    color: #555;
}

.commentList {
    display: flex;
    flex-direction: column;
}

.commentItem {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-size: 14px;
}

.commentInfo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.commentTime {
    font-size: 11px;
    color: #a5a5a5;
}

.commenter {
    font-size: 13px;
    font-weight: bold;
}

.commentContent {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.hrLine {
    width: 193px;
    border-bottom: 1px solid #e2e2e2;
    margin: 12px 0;
}