.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    max-width: 740px;
    width: 100%;
}

.statSection {
    display: flex;
    gap: 60px;
}

.statGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}

.statBox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fafbfb;
    /* border: 1px solid #f4f6f7; */
    border-radius: 20px;
    padding: 20px;
    width: 240px;
}

.stat {
    font-weight: 600;
}

.statTitle {
    font-weight: bold;
    font-size: 24px;
}

.barChart {
    height: 200px;
    width: 440px;
    /* position: relative; */
}

.redText {
    color: #f75e5e;
}

.reviewSection {
    display: flex;
    flex-direction: column;
}

.reviewsList {
    display: flex;
    gap: 30px;
}

.menuTitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.reviewItem, .noData {
    background-color: #fafbfb;
    border-radius: 20px;
    padding: 20px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.bookTitle {
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.reviewDate {
    font-size: 12px;
    color: rgb(167, 167, 167);
    align-self: flex-end;
    margin-top: auto;
}

.reviewContent {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 6;
    line-clamp: 6;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.summarySection {
    display: flex;
    gap: 30px;
}

.summary {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.content {
    background-color: #fafbfb; 
    border-radius: 20px;
    padding: 20px 22px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

.cover {
    height: 160px;
    width: 110px;
    margin-left: 6px;
    cursor: pointer;
}

.count {
    background-color: #ffffff;
    border: 1px solid #f4f6f7;
    border-radius: 50%; 
    font-weight: bold;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.count:hover {
    background-color: #f1f1f1;
}

.commentList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentItem {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    gap: 2px;
}

.commentInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentTime {
    font-size: 11px;
    color: #a5a5a5;
}

.commenter {
    font-size: 12px;
    font-weight: bold;
}

.commentContent {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0;
}

.hrLine {
    border-bottom: 1px solid #e2e2e2;
    margin: 12px 0;
}

.noData, .noCommentData, .noBookData {
    font-size: 14px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noBookData {
    width: 100%;
}

.mobileStatGroup, .mobileStatGroup2 {
    display: none;
}

@media (max-width: 1000px) {
    .leftMenu {
        display: none;
    }
    .container {
        margin: 20px 0;
    }
    .mobileStatGroup {
        display: block;
        height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .statGroup:first-of-type {
        display: none;
    }
    .nicknameTitle {
        font-weight: bold;
        font-size: 22px;
    }
    .statTitle, .menuTitle, .reportTitle {
        font-size: 22px;
    }
    .stat {
        font-size: 14px;
        font-weight: 500;
    }
    .statBox {
        padding: 18px 20px;
    }
    .goalBox {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
        font-size: 12px;
    }
    .progressBar {
        width: 100%;
        height: 10px;
        display: block;
        border-radius: 5px;
        background-color: #e9e9e9;
        overflow: hidden;
    }
    .progressBar::-webkit-progress-bar {
        background-color: #e9e9e9;
        border-radius: 5px;
    }
    .progressBar::-webkit-progress-value {
        background-color: #ff5a5a;
        border-radius: 5px;
    }
    .progressBar::-moz-progress-bar {
        background-color: #ff5a5a;
        border-radius: 5px;
    }
    .penIcon {
        margin-left: 6px;
        font-size: 12px;
        cursor: pointer;
    }
    .penIcon:hover {
        color: #b8b8b8;
    }
}

@media (max-width: 768px) {
    .mobileStatGroup {
        display: none;
    }
    .container {
        flex-direction: column;
        gap: 20px;
        margin: 0 10px;
    }
    .mobileStatGroup2 {
        display: block;
        display: flex;
        flex-direction: column;
    }
    .statSection, .summarySection {
        flex-direction: column;
        gap: 40px;
    }
    .statTitle {
        margin-bottom: 15px;
    }
    .statBox {
        width: 100%;
        flex-direction: row;
        gap: 20px;
        padding: 20px 30px;
        justify-content: space-between;
    }
    .statInner {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .profile {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 500;
    }
    .barChart {
        width: 100%;
    }
    .editBtn {
        border-radius: 4px;
        border: 1px solid #cecece;
        background-color: #ffffff;
        cursor: pointer;
        padding: 8px 0;
        color: #969696;
        font-size: 13px;
        transition: background-color 0.2s ease;
        text-align: center;
    }
    .editBtn:hover {
        background-color: #e4e4e4;
        color: #333;
        font-weight: 500;
    }
    .goalBox {
        flex-direction: column;
        font-size: 14px;
    }
    .reviewSection > .menuTitle {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .mobileStatGroup2 {
        display: none;
    }
    .mobileStatGroup {
        display: flex;
    }
    .statBox {
        flex-direction: column;
        gap: 4px;
        padding: 20px;
    }
    .goalBox {
        flex-direction: row;
        font-size: 12px;
    }
    .reviewsList {
        flex-direction: column;
        gap: 10px;
    }
    .bookTitle, .noData, .noBookData {
        font-size: 13px;
    }
    .reviewContent {
        font-size: 13px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .reviewDate {
        font-size: 11px;
    }
    .content {
        height: 180px;
    }
    .cover {
        width: 90px;
        height: 130px;
        margin-left: 6px;
    }
    .count {
        border-radius: 50%; 
        font-size: 14px;
        width: 46px;
        height: 46px;
    }
    .statTitle, .menuTitle {
        font-size: 20px;
    }
    .statGroup:nth-of-type(1) {
        height: 165px;
    }
}