.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background-color: white;
    border-bottom: 1px solid #b1b1b1;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px; 
    position: relative;
    padding: 0 30px;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right {
    margin-left: auto;
}

.icon {
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

.btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 12px;
    color: #a3a3a3;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #333;
}

.menuHeader span {
    flex-grow: 1;
    text-align: center;
}

.closeIcon {
    font-size: 26px;
    cursor: pointer;
    color: #333;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.menuTitle {
    font-size: 16px;
    font-weight: bold;
}

.menuTitle:nth-of-type(2), .menuTitle:nth-of-type(3), .menuTitle:nth-of-type(4) {
    margin-top: 20px;
}

.menuItem {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
}

.hrLine {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    width: 100vw;
    position: relative;
    left: -30px;
}

.menuSpacer {
    height: 100px;
    flex-shrink: 0;
}