.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.menuTitle {
    margin-bottom: 0;
}

.tab {
    margin-top: 20px;
}

.navTab {
    display: flex; 
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none; 
}

.navItem {
    background-color: white;
    color: #b8b8b8;
    font-weight: 600;
    padding: 10px 60px;
    width: 260px;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    cursor: pointer;
}

.navItem.active {
    background-color: #333333;
}

.navLink.active {
    color: #fff;
}

.input {
    padding: 6px 18px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #eef0f1;
}

.input:focus {
    outline-color: #d6d6d6;
}

.content { 
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    border: 2px solid #f5f5f5;
}

/* .tabPane {
    display: none;
}

.tabPane.active {
    display: block;
} */

.topBox {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.selectAll {
    display: flex;
    align-items: center; 
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px); 
    margin: 10px 0;
    margin-bottom: 30px;
    gap: 10px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 90px;
    height: 140px;
}

.title {
    font-size: 13px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    color: #333;
    font-weight: 500;
}

.author {
    font-size: 12px;
    color: #8f8f8f;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
}
.btnBox {
    display: flex;
    gap: 6px;
}

.deleteBtn, .finishBtn, .readingBtn {
    background: none; 
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
}

.finishBtn, .readingBtn {
    color: rgb(243, 76, 76);
}

.hrLine {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

.isRead, .reviewBtn {
    font-size: 13px;
    font-weight: 500;
    color: #f77676;
    text-decoration: underline;
    text-underline-offset: 4px; 
    cursor: pointer;
}

.starFill {
    color: #ffe16f;
    cursor: pointer;
}

.star {
    color: #eeeeee;
    cursor: pointer;
}