.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
    max-width: 760px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
}

.menuTitle {
    margin-bottom: 0;
}

.line {
    border-bottom: 3px solid #333;
    margin-top: 14px;
}

.bookInfo {
    display: flex;
    gap: 20px;
    padding: 20px 10px;
}

.bookDetail {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 100px;
    height: 140px;
}

.title {
    font-weight: bold;
    font-size: 14px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.author {
    font-size: 13px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    margin-bottom: 6px;
}

.selected {
    color: rgb(253, 109, 109);
}

.reviewBox {
    display: flex;
    gap: 20px;
    margin: 0 10px 20px;
}

.review {
    margin: 10px;
    resize: none;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 1.6;
}

.review:focus {
    outline: 1px solid #d3d3d3; 
}

.btnBox {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.btn {
    width: 100px; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    background-color: #333333;
    color: white;
}

.btn:hover {
    background-color: #17171b;
}

.rating {
    font-size: 20px;
    margin-left: -2px;
}

.starFill {
    color: #ffd620;
}

.star {
    color: #eeeeee;
}

@media (max-width: 480px) {
    .title {
        font-size: 15px;
    }
    .author {
        font-size: 13px;
    }
    .cover {
        width: 90px;
        height: 130px;
    }
}