.container {
    display: flex;
    gap: 40px;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.menuTitle {
    margin-bottom: 0;
}

.topBox {
    display: flex;
    gap: 10px;
}

.infoMsg {
    font-size: 13px;
    color: #f54a4a;
    align-self: flex-end;
    margin-bottom: 4px;
}

.line {
    border-bottom: 3px solid #333;
    margin-top: 14px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.item {
    margin-top: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 20px;
    font-size: 13px;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.box {
    display: flex;
    gap: 4px;
    color: #858585;
}

.title {
    font-weight: bold;
    color: #555;
}

.content {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.noData {
    font-size: 14px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}