.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
}

.title {
    text-align: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputField {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inputField:focus {
    outline: none; 
    border: 1px solid #333333;
}

.loginBtn {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.loginBtn {
    background-color: #333333;
    color: #ffffff;
    margin-top: 20px;
}

.loginBtn:hover {
    background-color: #17171b;
}

.kakaoBtn {
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.kakaoBtn img {
    width: 100%;
}

.snsLogin {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
}

.links a {
    color: #797979;
    text-decoration: none;
}

.separator {
    margin: 0 8px;
    color: #ddd;
}

.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.521);
    font-size: 12px;
    margin: 8px 0px;
}

.line::before, .line::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 0.8px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.error {
    color: rgb(243, 20, 20);
    font-size: 12px;
    margin: 6px 0 0 6px;
}

@media (max-width: 480px) {
    .inputField {
        font-size: 16px;
    }
}