.container {
    max-width: 360px;
    width: 100%;
    margin: 60px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.input {
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    border-radius: 0;
}

.input:focus {
    border-bottom: 1px solid #444;
}

.pwInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    border-radius: 0;
}

.pwInput:focus {
    border: 1px solid #444;
}

.label {
    font-weight: bold;
    font-size: 15px;
    margin: 8px 0;
}

.label:nth-of-type(3) {
    margin-top: 40px;
}

.btn {
    margin-top: 40px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.rule {
    font-size: 13px;
    margin: 20px 0 30px;
    background-color: #f5f5f5;
    padding: 20px 14px;
    border-radius: 10px;
}

.head {
    font-weight: bold;
    margin: 0;
}

.info {
    margin: 0;
}